<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <p>Дисциплина: Математическое программирование</p>
        <p>Тема: Разработка ПО для решения транспортной задачи линейного программирования</p>
        <p>Студент: Пигасин Дмитрий Алексеевич</p>
        <p>Группа: 18-АС</p>
    </div>
    <hr>
    <div>
        <a href="{{ url_for('set_size') }}">Начать заново</a>
        <a href="https://github.com/electrobullet/transportation_problem_solver">Код программы</a>
    </div>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>